@font-face {
	font-family: 'Open Sans';
	src: url(OpenSans-Regular.ttf);
}
@font-face {
	font-family: 'Open Sans';
	src: url(OpenSans-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: 'Open Sans';
	src: url(OpenSans-Italic.ttf);
	font-style: italic;
}

body {
	font-family: Open Sans;
}

h1 {
	font-size: 26px;
}
h2 {
	font-size: 20px;
}

p {
	font-size: 16px;
	text-align: justify;
	text-justify: inter-word;
}

#content {
	max-width: 800px;
	margin: 0px auto;
}

#menu, #footermenu {
	text-align: center;
	list-style-type: none;
	display: block;
	padding-left:0;
}

#menu a, #footermenu a {
	color: #000;
}

#menu li, #footermenu li {
	display: inline;
}

#menu li {
	padding-left: 40px;
	padding-right: 40px;
}

@media only screen and (max-width: 768px) {

	#menu li, #footermenu li {
		width: 100%;
		display: block;
		padding-left:0;
	}

}

#footermenu li {
	padding-left: 10px;
	padding-right: 10px;
}

#menu {
	font-size: 24px;
	font-weight: bold;
}

#cupidonor {
	margin: 0px auto;
	width: 50%;
}

#cupidonor img {
	width: 100%;
}

.btn {
	display: block;
	width: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 22px;
	background: #EC2027;
	color: #FFF;
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0px auto;
	text-align: center;
	cursor: pointer;
}

a.btn:hover {
	color: #FFF;
	background-color: #D52520;
}

#footer {
	padding-top: 20px;
}

a {
	color: #EC2027;
	text-decoration: none;
}

a:hover {
	color: #EC2027;
}

.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

.space {
	padding: 20px;
}

.strong {
	font-weight: bold;
}

#menu a.active, #footermenu a.active {
	color: #EC2027;
}

#doneerform input,
#doneerform select {
	font-size: 16px;
	background: white;
    border: 1px solid #E0E0E0;
    padding: 10px 20px;
}

#doneerform input[type="submit"] {
	color: white;
	background: #EC2027;
}

#gauge {
	max-width: 800px;
}
